*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



$backgroundColor: #fff;

@mixin toggle-font-color($background-color) {
color: if($background-color == $backgroundColor, #000, #fff);
}


body{
    background-color: white;
    min-height: 120vh;
    //font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/bc48a0cb914d58289d18e4d9/pexelsphoto3806275.jpeg);
    background-position: top;
    background-size: 100% 90vh;
    background-repeat: no-repeat;
    //justify-items: center;
}
.box h2{
    position: absolute;
    font-size: 24px;
    //font-family: Georgia, 'Times New Roman', Times, serif;
    //color: wheat;
    margin-left: auto;
    margin-right: auto;
    align-self: flex-start;
}

.box p{
    position: absolute;
    font-size: 14px;
   // font-family: Georgia, 'Times New Roman', Times, serif;
    //color: rgb(213, 213, 181);
    text-align: center;
    align-self: center;
}

.container{
    margin-bottom: 10%;
    margin-left:10%;
    //margin-right: 10%;
    display: grid;
    gap:0px;
    width: 1200px;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(3,220px);
    //justify-content: space-evenly;
    justify-items: stretch;
    grid-template-areas: 
      ". .  . .  . ."
      ". .  . .  C C"
      "A A  B B  C C";
}

.box {
    /* width: 200px; */
    /* height: 100px; */
    display: flex;
    width: auto;
    justify-content: center;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 1px;
    position: relative;
    
  }

.box-1{
    grid-area: A;
    @include toggle-font-color(rgb(48, 81, 226));
    
    background-color: rgb(48, 81, 226);
    
}


.box-2{
    grid-area: B;
    @include toggle-font-color(white);
    background-color: white;
}

.box-3{
    grid-area: C;
    object-fit: contain;
    background-image: url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/fd12b1fdd8b25bdfb3eee767/pexelsphoto3806288.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}   

